@import url("https://fonts.googleapis.com/css2?family=Carattere&display=swap");

.font-Akronim {
	font-family: "Carattere", cursive;
	font-size: 3rem;
	font-weight: 590;
}

.followed {
	background: #fff;
	padding: 16px;
	display: flex;
}

.followed img {
	border: 1px solid black;
}

.followed a.publisher-name {
	margin-left: 2px;
	color: rgba(0, 0, 0, 0.87);
	font-weight: 800;
	text-decoration: none;
	font-size: 20px;
	/* vertical-align: middle; */
	text-align: center;
	vertical-align: center;
	font-family: "Roboto", sans-serif;
}

a.publisher-name {
	margin: 0;
}

.post-location {
	font-size: 12px;
	margin-top: 0;
}

.navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

@media only screen and (max-width: 596px) {
	.container-fluid {
		padding-bottom: 30px;
	}
	main {
		padding-top: 70px;
	}
}

/* css Edwin */

.side-bar {
	width: 40%;
	background-color: #c4c4c4;
	min-height: 100vh;
	float: left;
}

img {
	height: 100px;
	width: 100px;
	margin-left: 145px;
	margin-top: 30px;
	margin-bottom: 60px;
	border-radius: 50px;
}
.form-control {
	margin-right: 50px;
	width: 250px;
	margin-left: 50px;
	border-radius: 30px;
}
.btn {
	margin-top: 50px;
	margin-left: 145px;
	background-color: #f2dab2;
	color: black;
	border-radius: 30px;
}

.row {
	margin-left: 10px;
}

a {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
